/* pile2100
pile2100@student.miun.se
Moment 4 - Responsive design 
13/09/2021 */

/* Begin -  Media query with resolution of between  300px-550px - mobile design */

@media (min-width:300px) and (max-width: 550px){

        /* search field with 65% in width  */

            .search input[type="search"]{
                    width:65%;
                    margin-left:2px;
                    margin-right:2px;
                }

        /* submit button for search field */
            .search input[type="submit"] {
                    width: 25%;
                    margin-left:2px;
                    margin-right:2px;
                }

            .search form {
                    text-align:center;
                    line-height:50px;
                }

            .box1 span {
                    font-size: calc(20px + (22 - 20) * ((100vw - 550px) / (550 - 300)));
                    display: flex;
                    padding:5px;
                    background-color: #854242;
                    border-radius: 10px;
                    line-height: calc(25px + (30 - 25) * ((100vh - 550px) / (550 - 800)));
                    text-align: center;
                    color: white;
                    justify-content: center;
                }

            .box2 span {
                font-size: calc(20px + (22 - 20) * ((100vw - 550px) / (550 - 300)));
                display: flex;
                padding:5px;
                background-color: #854242;
                border-radius: 10px;
                line-height: calc(25px + (30 - 25) * ((100vh - 550px) / (550 - 800)));          
                text-align: center;
                color: white;
                justify-content: center;
            }


            h1 {
                font-family: "Arial Black", Gadget, sans-serif ;
                color: #854242;
                margin:0px;
                padding:0px;
                font-size: calc(28px + (32 - 28) * ((100vw - 550px) / (550 - 300)));
            }

            h2 {
                padding: 0;
                font-family: "Arial Black", Gadget, sans-serif;
                font-size: calc(20px + (24 - 20) * ((100vw - 550px) / (550 -300)));
                color: #854242;
                margin: 0;
            }


            #container {
                background-color:#fff;
                width:calc(100% - 10%);
                margin:0 auto;
                /* padding-left: calc(40px/2);
                padding-right:calc(40px/2); */
                padding-top:10px;
                padding-bottom:10px;
            }



            .search {
                position: fixed;
                background-color:#854242;
                /* height:60px; */
                width:100%;
                top:0;
            }

            .mobilmenu {
                visibility: visible;
                width: 100%;
                height: 48px;
                margin: 0px;
                padding: 0px;
            }

            .header_partII {
                text-align: center;
                margin-top:60px;
                margin-bottom:20px;
            }
        
            .nomobilmenu {
                display:none;
            }

            #desktop_search, #surf_search  {
                  display: none;
            }

            footer {
                width:100%;
                border-radius: 10px;
                clear:both;
                background-color:#999999;
                text-align: center;
                width:100%;
                line-height: calc(35px + (40 - 35) * ((100vh - 550px) / (550 - 300)));
                margin-top: calc(40px/2); 
            }

            footer span {
                color:#fff;
                font-size:calc(14px + (20 - 14) * ((100vw - 550px) / (550 - 300)));
                line-height: calc(35px + (40 - 35) * ((100vh - 550px) / (550 - 300)));
            }
}

/* end - media query with resolution of between 300px and 550px */

/* Begin - Media query with resolution of 550px-800px for tablet */

@media (min-width: 550px) and (max-width: 800px) {

            h1 {
                font-family: "Arial Black", Gadget, sans-serif ;
                font-size: calc(26px + (32 - 26) * ((100vw - 800px) / (800  -550)));
                color: #854242;
                margin:0px;
                padding:0px;
            }

            h2 {
                padding: 0;
                font-family: "Arial Black", Gadget, sans-serif;
                font-size:calc(20px + (24 - 20) * ((100vw -800px) / (800 - 550)));
                font-size: 20px;
                color: #854242;
                margin: 0;
            }


            #container {
                background-color:#fff;
                width:calc(100% - 5%);
                margin:0 auto;
                /* padding-left: calc(40px / 2);
                padding-right:calc(40px / 2); */
                padding-top:10px;
                padding-bottom:10px;
            }


            .nomobilmenu {
               visibility: visible;
            }

            .nomobilmenu ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
            }


            .nomobilmenu ul li {
                float: left;
                display: inline;
            }

            .nomobilmenu ul li a {
                padding-right: 10px;
                font-size: 12px;
                display: block;
                color: #666;
                text-align: center;
                /* padding: 10px 12px; */
                text-decoration: none;
                text-transform: uppercase;
                /* margin: 0; */
                /* padding: 0; */
                padding-top: 10px;
                padding-bottom: 10px;
            }

            #mobile_search, #desktop_search {
               display: none;
            }

            .search form {
                text-align: center;
                line-height: 50px;
                background-color: #854242;
                height: 50px;
            }

            .search input[type="search"]{
                margin-left:10px;
                margin-right:10px;
                width : 60%
            }


            .search input[type="submit"]{
                margin-left:10px;
                margin-right:10px;
                width : 30%
            }

            .mobilmenu {
                 display: none;
            }


            .header_partII {
                  text-align: center;
                  line-height:52px;
            }

      
            footer {
                border-radius:10px;
                clear: both;
                background-color: #999999;
                text-align: center;
                width: 100%;
                line-height: calc(40px + (45 - 40) * ((100vh - 550px) / (550 - 300)));
            }

            footer span {
                text-transform:capitalize;
                color:white;
                font-size:calc(18px + (20 - 18) * ((100vw - 550px) / (800 - 550 )));
                line-height: calc(40px + (45 - 40) * ((100vh - 550px) / (550 - 300)));
            }

            .box1 {
                padding:10px;
                float:left;
                width:45%;
            }

            .box2 {
                float:right;
                width:45%;
                padding:10px;
            }

            footer span {
                color:white;
                font-size:18px;
            }

            .box1 span {
                font-size:calc(20px + (22 - 20) * ((100vw - 800px) / (800 - 550)));
                display: flex;
                padding:5px;
                background-color: #854242;
                border-radius: 10px;
                line-height: calc(25px + (30 - 25) * ((100vh - 800px) / (800 - 550)));
                text-align: center;
                color: white;
                justify-content: center;
            }

            .box2 span {
                font-size:calc(20px + (22 - 20) * ((100vw - 800px) / (800 - 550)));
                display: flex;
                padding:5px;
                background-color: #854242;
                border-radius: 10px;
                line-height: calc(25px + (30 - 25) * ((100vh - 800px) / (800 - 550)));
                text-align: center;
                color: white;
                justify-content: center;
            }


}

/* end - media query of tablet */

/* begin - media query for desktop with width 800px and up */

@media  (min-width:800px)  {

/* Styles */

            h1 {
                font-family: "Arial Black", Gadget, sans-serif ;
                font-size:calc(32px + (45 - 32) * ((100vw - 300px) / (1600 - 300)));
                color: #854242;
                margin:0px;
                padding:0px;
            }

            h2 {
                padding: 0;
                font-family: "Arial Black", Gadget, sans-serif;
                font-size:calc(22px + (26 - 22) * ((100vw - 300px) / (1600 - 300)));
                color: #854242;
                margin: 0;
            }

            #container {
                background-color:#fff;
                width:calc(100% - 10%);
                margin:0 auto;
                padding-left: 40px;
                padding-right:40px;
                padding-top:10px;
                padding-bottom:10px;
            }


            body {
                 background-color: #ccc;
            }


            .nomobilmenu {
                visibility: visible;
                border-bottom:5px solid #854242;
            }


            .nomobilmenu ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
            }


            .nomobilmenu ul li {
                float: left;
                display: inline;
            }

            .nomobilmenu ul li a {
                display: block;
                color:#666;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                text-transform:uppercase;
           }

            .mobilmenu {
                 display: none;
            }

            #surf_search, #mobile_search {
               display:none;
            }


            .header_partII {
                position: relative;
                line-height: 53px;
                text-align: center;
                top: 20px;
            }

            .box1 {
                padding:10px;
                float:left;
                width:45%;
            }

            .box2 {
                padding:10px;
                float:right;
                width:45%;
            }

            #desktop_search {
                bottom: 18px;
                position: relative;
                float: right;
                margin: 0;
                padding: 0;
            }

            input[type="search"] {
                width:160px;
            }

            footer {
                border-radius: 10px;
                clear:both;
                background-color:#999999;
                text-align: center;
                width:100%;
                line-height: calc(70px + (85 - 70) * ((100vh - 1600px) / (1600 - 800)));
            }

            footer span {
                text-transform:capitalize;
                color:white;
                font-size:calc(16px + (20 - 16) * ((100vw - 1600px) / (1600 - 800)));;
                line-height: calc(70px + (85 - 70) * ((100vh - 1600px) / (1600 - 800)));
            }
            

            .box1 span {
                font-size: calc(20px + (22 - 20) * ((100vw - 1600px) / (1600 - 800)));
                display: flex;
                padding:5px;
                background-color: #854242;
                border-radius: 10px;
                line-height: calc(45px + (55 - 45) * ((100vh - 1600px) / (1600 - 800)));
                text-align: center;
                color: white;
                justify-content: center;
            }


            .box2 span {
                font-size: calc(20px + (22 - 20) * ((100vw - 1600px) / (1600 - 800)));
                display: flex;
                padding:5px;
                background-color: #854242;
                border-radius: 10px;
                line-height: calc(45px + (55 - 45) * ((100vh - 1600px) / (1600 - 800)));
                text-align: center;
                color: white;
                justify-content: center;
            }

            

}

/* End - media query min width 800px to upwards */


/* gloabal settings */

                html,body {
                    margin:0;
                    padding:0;
                }


                img {
                    width: 100%;
                }

                h3 {
                    font-family: "Arial Black", Gadget, sans-serif ;
                    font-size: 18px;
                    color: #854242;
                    margin:0px;
                    padding:0px;
                }

                p {
                    line-height:23px;
                    font-family: Helvetica, sans-serif;
                    font-size:16px;
                }




 